@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}

.btn-primary{
    background-color: #252525;
    color: white;
    border: none;
    /* border-radius: 25px; */

}
.btn-primary:hover{
    background-color: #000000;
}

.justify-content-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login_container{
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px #0000001a;
}


.pagination{
    display: flex;
    justify-content: space-between;
}

.pagination > p{
    font-size: 0.75rem;
}


.login-p{
    font-size: 0.75rem;
}


.modal-dialog {
    max-width: 900px; /* Adjust width for a rectangular shape */
}
.modal-body img {
    height: 500px; /* Adjust height for a rectangular shape */
    object-fit: cover;
}

.table{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px #0000001a;

}





::placeholder {
    color: #c00f0f;
    /* font-style: italic; */
    font-size: 14px;
    opacity: 1; /* Ensures visibility in some browsers */
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .btn{
        width: 100%;

    }

    .past-searches{
        display: none;
    }

    .pagination{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    
}

@media only screen and (max-width: 720px) {
    .vehicle-report{
        margin-top: 2rem;
    }


    
}