{% extends 'auth/auth-base.html' %}
{% load static %}
<title> {% block title %}  Login {% endblock %}</title> 
{% block content%}

<div class="container auth-page">
    <div class="login-container">
        <img src="{% static 'images/logo2.png' %}" alt="logo" class="img-fluid logo" width="150">
        <hr>
        <p class="mt-2">Login to proceed</p>
        
        <form>
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="enter ID Number or email" required>
            </div>
            <div class="mb-3 position-relative">
                <input type="password" class="form-control" placeholder="enter Password" required>
            </div>
            <div class="text-middle">
                <a href="#" class="text-muted" style="font-size: 14px;">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-login mt-3">Login</button>
        </form>

        <p class="register-link">Not a registered? <a href="{% url 'register' %}">Register now</a></p>
    </div>
</div>

    

{% endblock %}