{% extends "dashboard/base.html" %}

{% load static %}
{% include "dashboard/head.html" %}

{% block title %}Change Password{% endblock %}


    
    {% block content %}
    <div class="container ">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5 login_container">
          
          <img src="{% static 'images/logo2.png' %}" alt="logo" class="img-fluid mx-auto d-block mb-2" width="50%"> 
          <hr>

          <!-- Subheading -->
          <p class="text-center mb-2 login-p"> Enter a new password for ombasaroy@gmail.com</p>
          <!-- <h4>Enter a new password for ombasaroy@gmail.com</h4> -->

          <!-- Form -->
          <form>

            <div class="input-group input-group-merge mb-4">

                <!-- Input -->
                <input class="form-control" type="password" placeholder="Enter your password">

                <!-- Icon -->
                <span class="input-group-text">
                  <i class="fe fe-eye"></i>
                </span>

            </div>

            <div class="input-group input-group-merge mb-4">

                <!-- Input -->
                <input class="form-control" type="password" placeholder="Repeat your password">

                <!-- Icon -->
                <span class="input-group-text">
                  <i class="fe fe-eye"></i>
                </span>

              </div>

            <!-- Submit -->
            <button class="btn btn-lg w-100 btn-primary mb-3">
              Reset Password
            </button>

          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    {% endblock %}

