{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="">
  

<head>
    {% include "dashboard/head.html" %}

</head>
  <body>
    
    

    {% block content%}
    {% endblock %}



    <!-- JAVASCRIPT -->
    <!-- Map JS -->
    <script src='../api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    
    <!-- Vendor JS -->
    <script src="{% static 'dashboard/js/vendor.bundle.js' %}"></script>
    
    <!-- Theme JS -->
    <script src="{% static 'dashboard/js/theme.bundle.js' %}"></script>

  </body>

</html>
