{% extends "dashboard/base.html" %}

{% load static %}
{% include "dashboard/head.html" %}

{% block title %}Register{% endblock %}


    
    {% block content %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5 login_container">

          <img src="{% static 'images/logo2.png' %}" alt="logo" class="img-fluid mx-auto d-block mb-2" width="50%"> 
          <hr>


          <!-- Subheading -->
          <h3 class="text-center mb-5">
            Sign up here.
          </h3>

          <!-- Form -->
          <form method="POST">
            {% csrf_token %}

            {{form.username}}
            {{form.email}}

            {{form.phone_number}}

            {{form.password1}}
            {{form.password1.errors}}

            {{form.password2}}
            {{form.password2.errors}}

            <!-- Submit -->
            <button class="btn btn-lg w-100 btn-primary mb-3">
              Sign up
            </button>

            <!-- Link -->
            <div class="text-center">
              <small class="text-body-secondary text-center">
                Already have an account? <a href="{% url 'login' %}">Log in</a>.
              </small>
            </div>

          </form>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->

    {% endblock %}


    <!-- <div class="form-group">
      <input type="email" class="form-control" placeholder="name@address.com">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Enter your full name">
    </div>
    <div class="form-group">
        <div class="input-group input-group-merge">
          <input class="form-control" type="password" placeholder="Enter your password">
          <span class="input-group-text">
            <i class="fe fe-eye"></i>
          </span>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group input-group-merge">
          <input class="form-control" type="password" placeholder="Repeat your password">
          <span class="input-group-text">
            <i class="fe fe-eye"></i>
          </span>

        </div>
    </div> -->
